body {
    margin: 1rem;
    padding: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    flex: 1 0 calc(25% - 20px);
    margin: 5px;
    height: 20px;
    width: 20px;
}

#container > div:hover {
    opacity: 0.5;
    background-color: black;
}